.custom-card {
    flex: 1 1 30%;
    max-width: 400px;
}

.custom-card-container {
    width: 100%;
}

#alertContainer {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 90%;
    max-width: 300px;
    z-index: 1056;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .custom-card {
        flex: 1 1 45%;
    }
}

@media (max-width: 576px) {
    .custom-card {
        flex: 1 1 100%;
    }
}
